* {
    font-family: "DejaVu Sans Mono";
    font-size: 9px;
    min-height: 0;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: #111111;
    color: #cccccc;
}

#workspaces button {
    color: #666666;
    padding: 0 6px;
    background: transparent;
}

#workspaces button.focused {
    color: #ffffff;
}

#clock {
    color: #ffffff;
    padding: 0 12px;
}

#pulseaudio,
#memory,
#cpu,
#temperature,
#network,
#battery,
#custom-vpn,
#custom-caffeine {
    color: #aaaaaa;
    padding: 0 10px;
}

#custom-caffeine.on {
    color: #e0af68;
}

#custom-caffeine.off {
    color: #aaaaaa;
}

#custom-vpn.on {
    color: #9ece6a;
}

#custom-vpn.off {
    color: #aaaaaa;
}

#temperature.critical {
    color: #f7768e;
}
